<template>
    <lightning-card title="Render Multiple Template" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <h2 class="slds-text-heading_medium slds-m-bottom_medium">Sign up Form</h2>
            <lightning-input type="text" label="Enter your first name"></lightning-input>
            <lightning-input type="text" label="Enter your last name"></lightning-input>
            <lightning-input type="email" label="Enter your Email address"></lightning-input>
            <lightning-input class="slds-m-bottom_medium" type="password" label="Enter your password"></lightning-input>

            <lightning-button variant="success" label="Sign Up" title="Sign Up" onclick={submitHandler}>
            </lightning-button>

            <lightning-button variant="destructive" label="Back" title="Back" onclick={handleClick}>
            </lightning-button>

        </div>
    </lightning-card>
</template>